<!DOCTYPE html>
<html lang="en">

<head>
{% include _head.html %}
</head>

<body>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}<span class="image-credit">Photo Credit:{{ page.image.credit }}</span>{% endif %}
</div> {% endif %}

{% if page.map.embed %}<div class="map-wrap">
  <div itemprop="primaryImageOfPage">
  {{ page.map.embed }}
  </div>
  {% if page.map.credit %}<span class="map-credit">Map Credit: {{ page.map.credit }}</span>{% endif %}
</div>{% endif %}



<div id="main" role="main"  itemprop="mainContentOfPage">
  <div class="article-author-side">
    {% include _left_col.html %}
  </div>
  <article itemscope itemtype="http://schema.org/CreativeWork">
    <h1 itemprop="name">{{ page.title }}</h1>
    <div class="article-wrap" itemprop="text">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
  <div class="article-author-side">
    {% include _right_col.html %}
  </div>  
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div>

{% include _scripts.html %}          

</body>
</html>